body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #ddd;
  }
  
  .overlay {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ddd;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: white;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  .grid-container {
    margin:2% 0% 2% 4%;
    width:90%;
    height:90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap:3%;
  }
  
  .grid-empty {
    background-color: rgba(0,0,0, 0.0);
  }
  
  .hero-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Microscope-Full.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-home:hover {
    background-image: url("Images/Microscope-Full.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-MainBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Microscope-body.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-MainBody:hover {
    background-image: url("Images/Microscope-body.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-BeamExpansion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Beam-Expansion-Module.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-BeamExpansion:hover {
    background-image: url("Images/Beam-Expansion-Module.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-image-Excitation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Excitation-Module.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-Excitation:hover {
    background-image: url("Images/Excitation-Module.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-image-FocusShifter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Focus-Shifter.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }

  .hero-image-FocusShifter:hover {
    background-image: url("Images/Focus-Shifter.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image-IncubationBox {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Incubation-Box.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-IncubationBox:hover {
    background-image: url("Images/Incubation-Box.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-image-holdenlab {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Holden-Lab.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-holdenlab:hover {
    background-image: url("Images/Holden-Lab.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:black;
  }

  .hero-image-github {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Git-Hub.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-github:hover {
    background-image: url("Images/Git-Hub.JPG");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:black;
  }
  
  .hero-image-Operation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("Images/Circuit-Diagram.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
  }
  
  .hero-image-Operation:hover {
    background-image: url("Images/Circuit-Diagram.jpg");
    height: 100%;
    min-height: 4.5cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:black;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }